<!-- A Dish has many bookmarks -->
<div class="row">
<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">You loved the <%= @dish.name %> at...
        
          <span class="label label-danger pull-right"> <%= @dish.cuisine.name %> </span>
        </h4>
      </div>
    
    <ul class="list-group">
      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    
          <!-- Label and input for dish_id -->
          <input type="hidden" name="dish_id" value="<%= @dish.id %>">
  
          <!-- Label and input for venue_id -->
          <div class="form-group" >
            <label for="venue_id" class="control-label">
            </label>
            
          <!-- Label and input for user_id -->
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          
          <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control", :prompt => "Choose a venue...") %>
          </div>
          
          <button class="btn btn-danger btn">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"> </span>
          </button>
    
          <small class="pull-right text-muted">
              right now
          </small>
        </form>
      </li>
       
      <!-- A Dish has many specialists -->

      <% @dish.bookmarks.each do |bookmark| %>
        <% if bookmark.user_id == current_user.id %>
          <li class="list-group-item">
            <p>
              <a href="/bookmarks/<%= bookmark.id %>">
                <%= bookmark.venue.name %>
              </a>
              
              <small class="pull-right text-muted">
                <%= time_ago_in_words(bookmark.created_at) %>
                  <a href="/bookmarks/<%= bookmark.id %>/edit" >
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <a href="/delete_bookmark/<%= bookmark.id %>" rel="nofollow">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
              </small>
            </p>
          </li>
        <% end %>
      <% end %>
      
        <div class="panel-footer">
          <div class="btn-group btn-group-justified">
            <a href="/dishes" class="btn btn-block btn-default">
              <i class="fa fa-chevron-left"></i>
            </a>
          </div>
        </div>
    </div>
    </ul>
    

   
  </div>
</div>
</div>
